$text-paragraph: #3c3c3b;
$text-header-links: #adacac;
$text-orange: #f28e00;
$text-green: #52741d;
$text-green-light: #27a536;
$text-green-very-light: #95e660;
$text-green-hover: #2c7f29;
$text-table-green: #60812c;
$text-grey: #939393;
$text-grey-dark: #1d1c1b;
$calendar-green: #afcb3a;
$border-green: #d5e29b;
$border-grey: #f0f0f0;
$border-grey-darker: #dfdfdf;
$background-green: #d9e5a7;
$background-light-green: #26a536;
$background-grey: #f5f5f5;
$background-light-grey: #f4f4f4;